# Multimodal API Integration
openai

# Local Vector Database (Memory Layer)
chromadb==1.5.9
numpy==1.26.4

# AI Models & Processing
torch
transformers
faster-whisper==1.2.1

# Video Rendering Engine
ffmpeg-python==0.2.0
opencv-python

# YouTube API & Platform Automation
google-api-python-client==2.122.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
python-dotenv
yt-dlp

Pillow
sentencepiece
easyocr